<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Películas - BatoiFlix</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

  <header class="header-contenido">
    <h1>Películas</h1>
    <a th:href="@{/form-pelicula}">
      <button class="boton-anadir">Añadir película</button>
    </a>
  </header>

  <main>
    <ul>
      <li th:each="pelicula : ${peliculas}">
        <div>
          <img th:src="${pelicula.poster}" alt="Imagen de la película">
        </div>
        <div>
          <h3 th:text="${pelicula.titulo}">Título de la película</h3>
          <p th:text="${pelicula.guion}">Descripción breve de la película</p>
        </div>
      </li>
    </ul>
  </main>

  <footer>
    <p>BatoiFlix © 2025</p>
  </footer>

</body>
</html>