<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BatoiFlix</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
  

	<header>
	  <div class="logo-text">
	    <a th:href="@{/}">BatoiFlix</a>
	  </div>

	  <nav>
	    <a th:href="@{/peliculas}">Películas</a>
	    <a th:href="@{/series}">Series</a>
	  </nav>

	  <div>
	    <form th:action="@{/buscar}" method="get">
	      <input type="search" name="query" placeholder="Buscar">
	      <button type="submit">Buscar</button>
	    </form>
	  </div>
	</header>
  
	<section>
	  <h2>Películas más recomendadas</h2>
	  <ul>
	    <li th:each="pelicula : ${peliculas}">
	      <div>
	        <img th:src="${pelicula.poster}" alt="Imagen de la película">
	      </div>
	      <div>
	        <h3 th:text="${pelicula.titulo}">Título de la película</h3>
	        <!--<p th:text="${pelicula.guion}">Descripción breve de la película.</p>-->
	      </div>
	    </li>
	  </ul>
	</section>
    

    <!--<section>
      <h2>Series más recomendadas</h2>
      <ul>
        <li th:each="serie : ${series}">
          <div>
            <img th:src="@{${serie.image}}" alt="Imagen de la serie">
          </div>
          <div>
            <h3 th:text="${serie.title}">Título de la serie</h3>
            <p th:text="${serie.description}">Descripción breve de la serie.</p>
          </div>
        </li>
      </ul>
    </section>-->
  </main>
  

  <footer>
    <p>BatoiFlix © 2025</p>
  </footer>
</body>
</html>